<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="I1Ml8qheZbrL2Wq4qgYdekT5a-5-FmrrNUDinyIiWBY" />
  <title>Privacy Policy</title>
  <meta name="description" content="A dedicated arena for facilitating College Students in Events Mgmt, Fresher Jobs, Internships and lots more..">
    <meta name="keywords" content="events, students partner, symposium, cultural events, events filtering, personalized notification, jobs, internships, faulty jobs">

  <link rel="stylesheet" href="css/font-awesome.min.css">
  <%= stylesheet_link_tag  'bootstrap.min' %>
  <%= stylesheet_link_tag  'static_pages_style' %>
  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
  <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarca">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class = "navbar-brand" href = "#">Privacy Policy</a>
      </div>
 
      <nav class="collapse navbar-collapse navbar-right" role="navigation" id="navbarca">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about_us">About Us</a></li>
          <li><a href="/student_partner">Student Partner</a></li>
        </ul>
      </nav>
    </div>
  </header>

   
 <main class="site-content" role="main">
    <div id="sh">
      <div class="col-lg-12">
      </div>
    </div>

    <div class="row" id="services">
      <div class="col-sm-12 ">
      <br><br>
        <div class="c">
          We, Techvisible incorporated under the Companies Act, 1956/2013 (hereinafter referred to as “Company”), having registered office at 13, Velachery Road, Alandur, Chennai 600016, the creator of this Privacy Policy ensure our firm commitment to your privacy vis-à-vis the protection of your priceless information. In order to endow you with our uninterrupted use of services, we may collect and, in some circumstances, disclose information about you. To enhance better protection of your privacy we provide this notice explaining our information practices and the choices you can make about the way your information is collected and used.
          <br><br>
          
          All visitors to <a href="www.collegedaa.com">www.collegedaa.com</a> (Website) are advised to read and understand our Privacy Policy carefully, as by accessing the Website you agree to be bound by the terms and conditions of the Privacy Policy and consent to the collection, storage and use of information relating to you as provided herein.
          <br><br>

          If you do not agree with the terms and conditions of our Privacy Policy, including in relation to the manner of collection or use of your information, please do not use or access the Site.
          If you have any questions or concerns regarding this privacy policy, you should contact our Customer Support Desk at <a>support@collegedaa.com</a>
          <br><br>
          <p>
          ANY CAPITALIZED WORDS USED HENCEFORTH SHALL HAVE THE MEANING ACCORDED TO THEM UNDER THIS AGREEMENT. FURTHER, ALL HEADING USED HEREIN ARE ONLY FOR THE PURPOSE OF ARRANGING THE VARIOUS PROVISIONS OF THE AGREEMENT IN ANY MANNER. NEITHER THE USER NOR THE CREATERS OF THIS PRIVACY POLICY MAY USE THE HEADING TO INTERPRET THE PROVISIONS CONTAINED WITHIN IT IN ANY MANNER.
          </p>
          <br><br>

          <h3>
            1. Definitions
          </h3>
          <br>

          a. “We”, “Our”, and “Us” shall mean and refer to the creators of this privacy policy.<br>
          b. “You”, “Your”, “Yourself” and “User” shall mean and refer to natural and legal individuals including service providers and service seekers who use the Website.<br>
          c. “Website” shall mean and refer to   www.Collegedaa.com  created by Techvisible.<br>
          d. “Personal Information” shall mean and refer to any personally identifiable information that We may collect from You. For removal of any doubts, please refer to Clause 2.<br>
          e. “Third Parties” refer to any website, company or individual apart from the User and the creator of the Website.<br>
          f. “Services” shall mean the services provided by the Company on the Website.<br><br>

          <h3>
            2. Overview
          </h3>
          <br>

          We commit to respecting your online privacy data. We further recognize Your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with Us. Information that is considered personal about You by Us includes, but is not limited to, Your name, address, email address, phone number or other contact information.<br><br>
          In order to avail any Services from this Website, You are required to provide the following information which includes, but is not limited to:<br>
          a) Name<br>
          b) Age<br>
          c) Gender<br>
          d) College name<br>
          e) Department<br>
          f) Year of study<br>
          g) Contact number<br>
          h) Contact Email<br><br>
          This Privacy Policy also applies to data We collect from Users who are not registered as members of this site, including, but not limited to, browsing behavior, pages viewed.
          <br><br>

          <h3>
            3. Notification of Modifications and Changes to the T&C and Privacy Policy
          </h3>
          <br>

          We reserve the right to change the Terms and Privacy Policy from time to time as We deem fit, without any intimation to You, and Your continued use of the Website will signify Your acceptance of any amendment to these terms. <br><br>
          You are therefore advised to re-read the Terms of Service on a regular basis. Should it be that You do not accept any of the modifications or amendments to the Terms, You may terminate Your use of this Website immediately.<br><br>

          <h3>
            4. Information We Collect
          </h3>
          <br>

          Our site's online requisition form requires Users to give Us contact information (like Your name, gender, email address, mobile number, college name, year of study and department). As a member, You are required to provide a valid email address at registration and choose a username or alias that represents Your identity on Our Website. This information is compiled and analyzed on an aggregated basis. This information may include the URL that You just came from (whether this URL is on the Site or not), which URL you next go to (whether this URL is on the Site or not), your computer browser information, your IP address, and other information associated with Your interaction with the Site.<br><br>
          We also collect and store personal information provided by You from time to time on the Site. We only collect and use such information from You that We consider necessary for achieving a seamless, efficient and safe experience, customized to Your needs including:<br><br>

          * To enable the provision of Services opted for by You;<br>
          * To communicate necessary account and product/Service related information from time to time;<br>
          * To allow You to receive quality customer care services;<br>
          * To undertake necessary fraud and money laundering prevention checks, and comply with the highest security standards;<br>
          * To comply with applicable laws, rules and regulations; and<br>
          * To provide You with information and offers on Services, on updates, on promotions, on related, affiliated or associated service providers and partners, that We believe would be of interest to You.<br><br>

          We ensure that information collected from You will be confidential. We strictly restrict User information sharing but not limited to Third Party  / vendors / partners / hosting service providers who provides and uses information for operational purposes.<br><br>
          We also do use Your contact information to send You offers based on Your interests and prior activity. The Company may also use contact information internally to direct its efforts for product improvement, to contact You as a survey respondent, to notify You if You win any contest; and to send You promotional materials from its contest sponsors or advertisers.<br><br>
          Further, You may from time to time choose to provide payment related financial information (credit card, debit card, bank account details, billing address etc.) on the Website. We are committed to keeping all such sensitive data/information safe at all times and ensure that such data/information is only transacted over secure Website of approved payment gateways which are digitally encrypted, and provide the highest possible degree of care available under the technology presently in use.<br><br>

          The Company will not use Your financial information for any purpose other than to complete a transaction with You.
          To the extent possible, We provide You the option of not divulging any specific information that You wish for Us not to collect, store or use. You may also choose not to use a particular Service or feature on the Website, and opt out of any non-essential communications from the Company.<br><br>
          Further, transacting over the internet has inherent risks which can only be avoided by You following security practices Yourself, such as not revealing account/login related information to any other person and informing Our customer care team about any suspicious activity or where Your account has/may have been compromised.<br><br>

          <h3>
            5. How Information Is Collected
          </h3>
          <br>

          a. Before or at the time of collecting personal information, We will identify the purposes for which information is being collected. <br>
          b. We will collect and use of personal information solely with the objective of fulfilling those purposes specified by Us and for other compatible purposes, unless We obtain the consent of the individual concerned or as required by law.<br><br> 
          c. We will only retain personal information as long as necessary for the fulfilment of those purposes. <br>
          d. We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. <br>
          e. Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.<br><br>

          <h3>
            6. Cookies
          </h3>
          <br>

          a. We use data collection devices such as "cookies" on certain pages of our Websites. "Cookies" are small files sited on your hard drive that assist us in providing customized services. We also offer certain features that are only available through the use of a "cookie". Cookies can also help us provide information, which is targeted to your interests. Cookies may be used to identify logged in or registered users.<br>
          b. Third party vendors including www.google.com (“Google”) may use cookies to serve ads based on your visits to this Website. You may visit the website of the third party and choose to opt out of the use of cookies for interest-based advertising, if the third party offers such an option. You may choose to opt-out of the DoubleClick cookie that Google and its partners use for interest-based advertising by visiting Ads Settings. (Alternatively, you can direct users to opt out of a third-party vendor's use of cookies for interest based advertising by visiting aboutads.info.)<br>
          c. The website also has enabled the Google Analytics Advertising, which allows Google to collect data about users on our website, in addition to Google advertising cookies and anonymous identifiers. You may choose to opt out of this by downloading and installing the Google Analytics opt-out add-on here <a href="https://tools.google.com/dlpage/gaoptout/">https://tools.google.com/dlpage/gaoptout/.</a> <br><br>

          <h3>
            7. External Links on Website
          </h3>
          <br>

          The Website may include hyperlinks to other websites or content or resources. We have no control over any Websites or resources, which are provided by companies or persons other than Us.<br><br> 
          You acknowledge and agree that We are not responsible for the availability of any such external sites or resources, and does not endorse any advertising, products or other materials on or available from such Websites or resources.<br><br>
          You acknowledge and agree that We are not liable for any loss or damage which may be incurred by You as a result of the availability of those external sites or resources, or as a result of any reliance placed by You on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such Websites or resources. These Third-Party service providers and Third-Party sites may have their own privacy policies governing the storage and retention of Your personal information that You may be subject to. We recommend that when You enter a Third-Party site, You review the Third Party site’s privacy policy as it relates to safeguarding Your personal information. We use Third-Party advertising companies to serve ads when You visit the Website. <br><br>

          <h3>
            8. Our Use of Your Information
          </h3>
          <br>


          Information about Our Users is an important part of Our business, and We treat Our client information with the utmost confidentiality. We do not sell, rent, or lease Your information to Third Parties.<br><br>
          Your contact information is also used to contact You when necessary. We use Your IP address to help diagnose problems with Our server, and to administer Our Website. Your IP address is also used to help identify You and to gather broad demographic information. Finally, We may use Your IP address to help protect Our partners and ourselves from fraud. We will continue to enhance Our security procedures as new technology becomes available. We will transfer information about You if We are acquired by or merged with another company. In this event, We will notify You by email or by putting a prominent notice on the site before information about You is transferred and becomes subject to a different privacy policy.<br><br>
          We may release Your personal information to a Third-Party in order to comply with a Court Order or other similar legal procedure, or when We believe in good faith that such disclosure is necessary to comply with the law; prevent imminent physical harm or financial loss; or investigate or take action regarding illegal activities, suspected fraud, or violations of Our Terms of Use. We may disclose personally identifiable information to parties in compliance with Our Copyright Policy as mentioned in the Terms of Use as We in Our sole discretion believe necessary or appropriate in connection with an investigation of fraud, intellectual property infringement, piracy, or other unlawful activity. In such events, We may disclose name, address, country, phone number, email address, College name, department etc.<br><br>

          <h3>
            9. Confidentiality
          </h3>
          <br>

          You further acknowledge that the Website may contain information which is designated confidential by Us and that You shall not disclose such information without Our prior written consent.<br><br>
          Your information is regarded as confidential and We strictly restrict User information sharing but not limited to Third Party  / vendors / partners / hosting service providers who provides and uses information for operational purposes, and if legally required to do so to the appropriate authorities. <br><br>
          We will not sell or share Your personal information to any Third Party or use Your e-mail address for unsolicited mail. Any emails sent by Us will only be in connection with the provision of agreed Services.<br><br>

          <h3>
            10. Our Disclosure of Your Information
          </h3>
          <br>

          Due to the existing regulatory environment, We cannot ensure that all of Your private communications and other personally identifiable information will never be disclosed in ways not otherwise described in this Privacy Policy. By way of example (without limiting and foregoing), We may be forced to disclose information to the government, law enforcement agencies or Third Parties. Under certain circumstances, Third Parties may unlawfully intercept or access transmissions or private communications, or members may abuse or misuse Your information that they collect from Our Website. Therefore, although We use industry standard practices to protect Your privacy, We do not promise, and You should not expect, that Your personally identifiable information or private communications would always remain private.<br><br>

          As a matter of policy, We do not sell or rent any personally identifiable information about You to any Third Party. However, the following describes some of the ways that Your personally identifiable information may be disclosed:<br>
          a. External Service Providers: There may be a number of services offered by external service providers that help You use Our Websites. If You choose to use these optional services, and in the course of doing so, disclose information to the external service providers, and/or grant them permission to collect information about You, then their use of Your information is governed by their private policy.<br>
          b. Other Corporate Entities: We share much of Our data, including personally identifiable information about You, with Our parent and/or subsidiaries that are committed to serving Your online needs and related services, throughout the world. Such data will be shared for the sole purpose of enhancing Your browsing experience and providing Our Services to You. To the extent that these entities have access to Your information, they will treat it at least as protectively as they treat information they obtain from their other members. It is possible that We and/or its subsidiaries, or any combination of such, could merge with or be acquired by another business entity. Should such a combination occur, You should expect that We would share some or all of Your information in order to continue to provide the Service. You will receive notice of such event (to the extent that it occurs).<br>
          c. Law and Order: We cooperate with law enforcement inquiries, as well as other Third Parties to enforce laws, such as: intellectual property rights, fraud and other rights. We can (and You authorize Us to) disclose any information about You to law enforcement and other government officials as We, in Our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose Us or You to legal liability.<br><br>

          <h3>
            11. Accessing and Reviewing Information
          </h3>
          <br>

          Following registration, You can review and change the information You submitted each time. If You change any information we may keep track of Your old information. You can change Your registration information such as: name, contact number, address , gender, city, e-mail id.<br><br>
          We will retain in Our files information You have requested to remove for certain circumstances, such as to resolve disputes, troubleshoot problems and enforce Our terms and conditions. Further, such prior information is never completely removed from Our databases due to technical and legal constraints, including stored 'back up' systems. Therefore, You should not expect that all of Your personally identifiable information will be completely removed from Our databases in response to Your requests.<br><br>

          <h3>
            12. Control of Your Password
          </h3>
          <br>

          When You sign up to become a Member, You will also be asked to choose a password. You are entirely responsible for maintaining the confidentiality of Your password. It is important that You protect it against unauthorized access of Your account and information by choosing Your password carefully, and keeping Your password and computer secure by signing out after using Our Services.<br><br>
          You agree not to use the account, username, email address or password of another Member at any time or to disclose Your password to any Third Party. If You choose to share this information with Third Parties to provide You additional services, You are responsible for all actions taken with Your login information and password and therefore should review each Third Party's privacy policy. You are responsible for all actions taken with Your login information and password, including fees. If You lose control of Your password, You may lose substantial control over Your personally identifiable information and may be subject to legally binding actions taken on Your behalf. Therefore, if Your password has been compromised for any reason, You should immediately change Your password. You agree to notify Us immediately if You suspect any consistent unauthorized use of Your account or access to Your password even after changing it.<br><br>

          <h3>
            13. Other Information Collectors
          </h3>
          <br>

          Except as otherwise expressly included in this Privacy Policy, this document only addresses the use and disclosure of information We collect from You. To the extent that You disclose Your information to other parties, whether they are on Our Websites or on other sites throughout the Internet, different rules may apply to their use or disclosure of the information You disclose to them. To the extent that We use Third Party advertisers, they adhere to their own privacy policies. Since We do not control the privacy policies of the Third Parties, You are subject to ask questions before You disclose Your personal information to others.<br><br>

          <h3>
            14. Security
          </h3>

          We treat data as an asset that must be protected against loss and unauthorized access. We employ many different security techniques to protect such data from unauthorized access by members inside and outside the company. We do not recommend transfer of sensitive information (such as credit card number) and bank account details via the Website to other Users. Users are recommended to do so offline, on the phone or via personal emails. We follow generally accepted industry standards to protect the personal information submitted to Us, both during transmission and once We receive it. However, "perfect security" does not exist on the Internet. You therefore agree that any security breaches beyond the control of Our standard security procedures are at Your sole risk and discretion.<br><br>

          <h3>
            15. Disclaimer
          </h3>
          <br>

          We cannot ensure that all of Your private communications and other personal information (including sensitive information like credit card information and bank account number) will never be disclosed in ways not otherwise described in this Privacy Policy. Therefore, although We are committed to protecting Your privacy, We do not promise, and You should not expect, that Your personal information will always remain private. As a User of the Site, You understand and agree that You assume all responsibility and risk for Your use of the Site, the internet generally, and the documents You post or access and for Your conduct on and off the Site. <br><br>

          <h3>
            16. Disputes and Jurisdiction
          </h3>
          <br>

          All disputes involving but not limited to rights conferred, compensation, refunds, and other claims through this policy will be resolved through a two-step Alternate Dispute Resolution mechanism. <br><br>
          a. Stage 1: Mediation. In case of a dispute, the matter will first be attempted to be resolved by a sole mediator who is a neutral third party and will be selected at the mutual acceptance of a proposed mediator by both parties. Both parties may raise a name for sole arbitrator and in case both parties accept the proposed name, the said person shall be appointed as sole mediator. In any case the parties are not able to reach a consensus within two proposed mediators, the Company reserves the right to decide who the final mediator is. The decision of the mediator is not binding on both parties, however the parties in good faith will attempt to bind by the decision. <br>
          b. Stage 2: Arbitration. In case that mediation does not yield a result suitable or preferred by any one of the parties, arbitration may follow, the award of which is binding on both parties. The Arbitration Board shall comprise three members– one appointed by each party and the third member to be nominated by the two appointed members by mutual consent. Arbitration shall be held at Chennai, India. The proceedings of arbitration shall be in the English language. The arbitrator’s award shall be final and binding on the Parties. If the dispute cannot be resolved by this two-step Alternate Dispute Resolution mechanism, it shall be referred to the courts at Chennai, India.<br><br>

          <h3>
            17. Questions and Suggestions
          </h3>

          <br>

          If You have any questions or concerns regarding this privacy policy, You should contact Us by sending an e-mail to <a>support@collegedaa.com</a>
          <br><br>

        </div>
      </div>
    </div>


  </main>


</body>
</html>