<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="I1Ml8qheZbrL2Wq4qgYdekT5a-5-FmrrNUDinyIiWBY" />
  <title>Collegeda</title>
  <meta name="description" content="A dedicated arena for facilitating College Students in Events Mgmt, Fresher Jobs, Internships and lots more..">
    <meta name="keywords" content="events, students partner, symposium, cultural events, events filtering, personalized notification, jobs, internships, faulty jobs">

  <%= stylesheet_link_tag  'bootstrap.min' %>
  <%= stylesheet_link_tag  'static_pages_style' %>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
  <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarca">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class = "navbar-brand" href = "#">Services</a>
      </div>
 
      <nav class="collapse navbar-collapse navbar-right" role="navigation" id="navbarca">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about_us">AboutUs</a></li>
          <li><a href="/student_partner">Student Partner</a></li>
          <li><a href="https://collegedaa.freshdesk.com/support/home">Support</a></li>
        </ul>
      </nav>
    </div>
  </header>

   
  <main class="site-content" role="main">
    <div id="sh">
      <div class="col-lg-12">
      </div>
    </div>

    <div class="row" id="services">
      <div class="col-sm-12 col-lg-4">
        <div class="h">
          SERVICE1
        </div>
        <div class="c">
          A true entrepreneur is a doer, not a dreamer.
          <br>
          <br>
        </div>
        <div class="c">
          If you want to nourish that spirit in you and build your dream before someone hires you to build theirs,
        </div>
      </div>

      <div class="col-sm-12 col-lg-4">
        <div class="h">
          SERVICE2
        </div>
        <div class="c">
          It is better to have tried and failed than to have failed to try!
          <br>
          <br>
        </div>
        <div class="c">
          If you want to nourish that spirit in you and build your dream before someone hires you to build theirs,
        </div>
      </div>

      <div class="col-sm-12 col-lg-4">
        <div class="h">
          SERVICE3
        </div>
        <div class="c">
          It is better to have tried and failed than to have failed to try!
          <br>
          <br>
        </div>
        <div class="c">
          If you want to nourish that spirit in you and build your dream before someone hires you to build theirs,
        </div>
      </div>
    </div>


  </main>

</body>
</html>