<br/>
<div style="text-align: center;">
  <button type="button" class="btn btn-warning btn-lg"><strong><%= link_to 'Events Moderation', collegeda_events_moderation_path,target: '_blank' %></strong></button>
</div>
<br/>

<br/>
<div style="text-align: center;">
  <button type="button" class="btn btn-info btn-lg"><strong><%= link_to 'All Users', collegeda_users_path,target: '_blank' %></strong></button>
</div>
<br/>