 <div class="field">
  <%= f.label "All Departments" %><br />
  <%= f.collection_check_boxes :event_department_ids, EventDepartment.all, :id, :name do |b| %>
    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
  </div>