<div class='department_info'>
  <h3>Departments</h3>

  <div class="row">

  <div class='col-md-4'>
    <select name="event_type" class="event_type form-control department_stream">
      <option value="" selected="selected">Select Stream</option>
      <% EventDepartmentStream.all.each do |stream| %>
      <option value="<%= stream.id %>"><%= stream.name %></option>
      <% end %>
    </select>
  </div>

  <div class='col-md-6'>
  <select name="event[event_department_ids][]" class="event_dept department form-control" multiple="multiple">
  </select>
  </div>

  </div>

</div>