<div class="fallback">
    <%= f.file_field :banner, class: 'validate[checkFileType[jpg|jpeg|JPG|png|PNG]]' %>
    <p>Allowed file formats: jpg, png</p><br>
    <%= image_tag @event.event_banner.present? && @event.event_banner.banner.present? ? @event.event_banner.banner.url(:small) : "", class: 'text-center img-responsive eventlogo' %>
</div>