<div class="fallback">
    <%= f.file_field :college_banner, class: 'validate[required,checkFileType[jpg|jpeg|JPG|png|PNG]]' %>
    <p>Allowed file formats: jpg, png</p><br>
    <%= image_tag @event.event_college_banner.present? && @event.event_college_banner.college_banner.present? ? @event.event_college_banner.college_banner.url(:small) : "", class: 'text-center img-responsive eventlogo' %>
</div>