<div class='department_info'>
  <h3>Departments</h3>
  <div class='row'>
    <% EventDepartment.all.each_slice(3) do |event_department| %>
    <div class='col-md-3'>
    <%= f.collection_check_boxes :event_department_ids, event_department , :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
      <% end %>
    </div>
   <% end %> 
  </div>
</div>