<!--banner start-->
<div class='eventview_banner img-responsive' style='background-image: url("<%= asset_path('dummy_event_banner.png') %>")'>
  <img class='text-center img-responsive eventlogo' src='<%= asset_path('eventlogo.png') %>'>
  <h2 class='eventname'>SUPERNOVA2K17</h2>
  <p class='location'>Poonamallee, Chenni, Tamilnadu 600077, India</p>
  <div class='dates'>
    <div class='startdate'><p>Thu, 05 Jan 17</p><p>09:30am</p></div>
    <div class='enddate'><p>Thu, 06 Jan 17</p><p>06:00pm</p></div>
    <div class='totaldays'><p>2days</p></div>
  </div>
  
</div>
<!--banner end-->

<section id='eventview_gogleads'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-9'>
        <div class='row'>
          <div class='col-md-8'>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#aboutus_tab" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
              <li role="presentation"><a href="#event_tab" aria-controls="profile" role="tab" data-toggle="tab">Event</a></li>
              <li role="presentation"><a href="#register_tab" aria-controls="messages" role="tab" data-toggle="tab">Register</a></li>
              <li role="presentation"><a href="#contactus_tab" aria-controls="settings" role="tab" data-toggle="tab">Contact Us</a></li>
              <li role="presentation"><a href="#sponsors_tab" aria-controls="settings" role="tab" data-toggle="tab">Sponsors</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="aboutus_tab">
                <p>Get set to witness India's largest student-run fest in this country. Wherever you are, 'Texconhorn' and reach IIT to see the forest come alive. The enchantment shall be open to viewing from 4th January, 2017 to 8th January, 2017. Get set to witness India's largest student-run fest in this country. Wherever you are, 'Texconhorn' and reach IIT to see the forest come alive. The enchantment shall be open to viewing from 4th January, 2017 to 8th January, 2017</p>
                <div class='guestspeaker'>
                  <p><strong>Guest Speakers</strong></p>
                  <ol>
                    <li><span>Tim Cook</span><span>CEO - Apple</span><span> Welcome Speech</span></li>
                    <li><span>Tim Cook</span><span>CEO - Apple</span><span> Welcome Speech</span></li>
                  </ol>
                </div>
                <div class='clear-fix'></div>
                <div class='eventwebsite_accomodation'>
                  <a href='#'>Event Website</a>
                  <a href='#'>No Accomodation Provided</a>
                </div>
                <div class='clear-fix'></div>
                <div class='eventwebsite'><span>Event:</span><a href='#'>http://www.google.com</a></div>
                <div class='followus'>
                  <p>Follow Us</p>
                  <ul class='socialicons'>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="event_tab">
                <div class='row'>
                  <div class='col-md-6'>
                    <p>Sub Events</p>
                    <ul>
                      <li>Technical quiz</li>
                      <li>Circuit Debugging</li>
                      <li>Coding contest</li>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Workshops</p>
                    <ul>
                      <li>Robotics</li>
                      <li>Web development</li>
                      <li>Internet of Things</li>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Paper Presentations</p>
                    <ul>
                      <li>Fuzzy Logic</li>
                      <li>Neural networks</li>
                    </ul>
                  </div>
                  <div class='col-md-6'>
                    <p>Conference Topics</p>
                    <ul>
                      <li>Hyper-Threading Technology</li>
                      <li>Hadoop Technology</li>
                      <li>Image processing and applications</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="register_tab">
                <p><strong>Registration Opens - </strong> 23 Dec 2016 | 9:00 AM</p>
                <p><strong>Registration Closes - </strong> 29 Dec 2016 | 6:00 PM</p>
                <p><strong>Registration Fees Details</strong></p>
                <div class='eventdet'>
                  <p><strong>Workshops</strong></p>
                  <ul>
                    <li>Android - 1500 per Head / 400 per team of 4 Members</li>
                    <li>IOS - 1500 per Head / 400 per team of 4 Members</li>
                    <li>Paper Presentation - No fees involved</li>
                  </ul>
                </div>
                <div class='eventdet'>
                  <p><strong>conference</strong></p>
                  <ul>
                    <li>Android - 1500 per Head / 400 per team of 4 Members</li>
                    <li>IOS - 1500 per Head / 400 per team of 4 Members</li>
                    <li>Paper Presentation - No fees involved</li>
                  </ul>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="contactus_tab">
                <h2>Event Coordinators</h2>
                <div class='row'>
                  <div class='col-md-6'>
                    <div class='coordinator'>
                      <p>Student Coordinator</p>
                      <p>Sathya Saikumar</p>  
                      <p>Phone: 9876543210</p>  
                      <p>Email: sathya@example.com</p>  
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='coordinator'>
                      <p>Student Coordinator</p>
                      <p>Sathya Saikumar</p>  
                      <p>Phone: 9876543210</p>  
                      <p>Email: sathya@example.com</p>  
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='coordinator'>
                      <p>Student Coordinator</p>
                      <p>Sathya Saikumar</p>  
                      <p>Phone: 9876543210</p>  
                      <p>Email: sathya@example.com</p>  
                    </div>
                  </div>
                  <div class='col-md-6'>
                    <div class='coordinator'>
                      <p>Student Coordinator</p>
                      <p>Sathya Saikumar</p>  
                      <p>Phone: 9876543210</p>  
                      <p>Email: sathya@example.com</p>  
                    </div>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade" id="sponsors_tab">
                <div class='row'>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                  <div class='col-md-3'><img class='img-responsive' src='./images/dummy_college_logo.png'></div>
                </div>
              </div>
            </div>
          </div>

          <div class='col-md-4'>
            <ul class='socialicons'>
              <li><a href="#"><i aria-hidden="true" class="fa fa-share-alt"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i aria-hidden="true" class="fa fa-whatsapp"></i></a></li>
            </ul>
            <div class='goingforevent'>
              <h2>Help the Organizers<br>Take only 5 Seconds</h2>
              <form name='areugoingforevent' action='' id='areugoingforevent'>
                <p>Are you going for the event?</p>
                <label><input type='radio' name='goingforevent' value='1'><span>Yes</span></label>
                <label><input type='radio' name='goingforevent' value='0'><span>No</span></label>
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class='col-md-3'>
        <div class='home_vertical_google_ads'><img src='<%= asset_path('googleads.png') %>'></div>
      </div>
    </div>
  </div>
</section> 

